html {
  height: 100%;
}

body {
  background-color: #c670ca;
  background-image: linear-gradient(45deg, #c670ca 0%, #25a5c8 52%, #20e275 90%);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.slide-in-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1s;
}

.settings-open.slide-in-box {
  transform: none;
  z-index: 5;
  top: 0;
  position: relative;
}
.settings-open.slide-in-box#about {
  left: 10px;
}

#about {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 3.5em;
  left: -20px;
}

.about-text {
  max-width: 180px;
  padding: 1em;
  font-size: 0.8em;
}

button {
  height: 2rem;
  width: 70px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(255, 0, 0, 0.15);
}

form {
  position: absolute;
  top: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1em;
  z-index: 5;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 100%;
}

form input {
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  width: 80%;
  height: 1.2rem;
  border-radius: 2em;
  border: none;
  margin: 0.5em -5px 1.25em 0;
  box-shadow: 2px 2px 6px rgba(255, 0, 0, 0.15);
}

form button {
  margin-top: 1em;
  border-radius: 2em;
  margin: 0;
  width: 100%;
  background: #25a5c8;
  color: #fff;
  font-weight: 800;
  border: none;
}

form button:hover {
  background: #c670ca;
  transition: all 0.5s;
}

.help-label {
  font-size: 0.8em;
}

.canvas-wrapper {
  position: relative;
  margin: 2rem auto;
  z-index: 1;
}

@media only screen and (min-width: 300px) {
  .canvas-wrapper {
    height: 80vh;
    width: auto;
  }
}

@media only screen and (min-width: 600px) {
  .canvas-wrapper {
    height: 50vh;
    width: 80vw;
  }
}

@media only screen and (min-width: 768px) {
  .canvas-wrapper {
    height: 50vh;
    width: 60vw;
  }
}

@media only screen and (min-width: 992px) {
  .canvas-wrapper {
    height: 80vh;
    width: 40vw;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #25a5c8;
  text-align: center;
  padding: 1em;
}

footer > * {
  width: 90%;
}
